.idea/
.idea
*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Exclude kotlin errors and logs
.kotlin/

# Exclude build artifacts
*.apk
*.aab
*.ap_
*.aab
app/release/
